DB_USR=[Nom d'utilisateur pour l'instance de postgreSQL réservée à l'application]
DB_PWD=[Mot de passe pour l'instance de postgreSQL réservée à l'application]
KEYCLOAK_DB_USR=[Nom d'utilisateur pour l'instance de postgreSQL réservée à keycloak]
KEYCLOAK_DB_PWD=[Mot de passe pour l'instance de postgreSQL réservée à keycloak]
KEYCLOAK_ADMIN_USR=[Nom d'utilisateur pour l'utilisateur aux permissions d'administrateur de base pour keycloak]
KEYCLOAK_ADMIN_PWD=[Mot de passe pour l'utilisateur aux permissions d'administrateur de base pour keycloak]
SPRING_KC_ADMIN_SECRET=[Secret de liaison entre client admin Spring et keycloak]
SPRING_KC_URL=[http(s)://Nom de domaine:port sur lequel keycloak est heberge]
SPRING_KC_JWT_URI=[http(s)://{SPRING_KC_URL}/realms/ResiAIAC/protocol/openid-connect/certs]
MAIL_HOST=[MAIL_HOST]
MAIL_PORT=[MAIL_PORT]
MAIL_USERNAME=[MAIL_USERNAME]
MAIL_PASSWORD=[MAIL_PASSWORD]
SPRING_S3_INT_ENDPOINT=[Endpoint permettant la communication entre Spring et SeaweedFS a travers S3]
SPRING_S3_EXT_ENDPOINT=[Endpoint figurant dans le lien des fichiers retourne a l'utilisateur]
SPRING_S3_ACCESS_KEY=[a Random String Of Characters]
SPRING_S3_SECRET_KEY=[another Random String Of Characters]
