DB_USR=[Nom d'utilisateur pour l'instance de postgreSQL réservée à l'application]
DB_PWD=[Mot de passe pour l'instance de postgreSQL réservée à l'application]
KEYCLOAK_DB_USR=[Nom d'utilisateur pour l'instance de postgreSQL réservée à keycloak]
KEYCLOAK_DB_PWD=[Mot de passe pour l'instance de postgreSQL réservée à keycloak]
KEYCLOAK_ADMIN_USR=[Nom d'utilisateur pour l'utilisateur aux permissions d'administrateur de base pour keycloak]
KEYCLOAK_ADMIN_PWD=[Mot de passe pour l'utilisateur aux permissions d'administrateur de base pour keycloak]