DB_USR=[Nom d'utilisateur pour l'instance de postgreSQL réservée à l'application]
DB_PWD=[Mot de passe pour l'instance de postgreSQL réservée à l'application]
KEYCLOAK_DB_USR=[Nom d'utilisateur pour l'instance de postgreSQL réservée à keycloak]
KEYCLOAK_DB_PWD=[Mot de passe pour l'instance de postgreSQL réservée à keycloak]
KEYCLOAK_ADMIN_USR=[Nom d'utilisateur pour l'utilisateur aux permissions d'administrateur de base pour keycloak]
KEYCLOAK_ADMIN_PWD=[Mot de passe pour l'utilisateur aux permissions d'administrateur de base pour keycloak]
SPRING_KC_ADMIN_SECRET=[Secret de liaison entre client admin Spring et keycloak]
MAIL_HOST=[MAIL_HOST]
MAIL_PORT=[MAIL_PORT]
MAIL_USERNAME=[MAIL_USERNAME]
MAIL_PASSWORD=[MAIL_PASSWORD]
