DB_URL=jdbc:postgresql://application-postgres/resiaiac
SPRING_KC_URL=http://keycloak:8080
SPRING_KC_JWT_URI=http://keycloak:8080/realms/ResiAIAC/protocol/openid-connect/certs
SPRING_S3_INT_ENDPOINT=http://seaweedfs:8333
SPRING_S3_EXT_ENDPOINT="Url for produced signed file links"
SPRING_S3_ACCESS_KEY="aRandomString"
SPRING_S3_SECRET_KEY="anotherRandomString"
MAIL_HOST=smtp.gmail.com
MAIL_USERNAME=""
MAIL_PASSWORD=""
MAIL_PORT=587
REDIS_HOST=redis
REDIS_PORT=6379
