KC_DB=postgres
KC_DB_URL=jdbc:postgresql://keycloak-postgres:5432/keycloak
KC_BOOTSTRAP_ADMIN_USERNAME="Username for the admin user, created at startup by keycloak"
KC_BOOTSTRAP_ADMIN_PASSWORD="Password for the admin user, created at startup by keycloak"
